* {
  border: none;
  border-radius: 0;
  font-family: MesloLGS NF;
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: @theme_base_color;
  border-bottom: 1px solid @unfocused_borders;
  color: @theme_text_color;
}
